target/
project/project/
project/target/
project/metals.sbt

.idea/
.bsp/
.vscode/
.metals/
.dotty-ide-artifact
.dotty-ide.json

node_modules/

scrum/
worktrees/
webapp/js

cleaner.sh
journalnote.sh
nodelinker.sh
